.active{
  display: inline-block;
}
.inactive{
  display: none;
}
.slides{
  height:80vh;
  width: 100%;
  position: relative;
}
.dot{
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 3px;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}
.active-dot,
.dot:hover{
  background-color: #BC4749;
}
.grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 3fr;
  grid-template-areas: 
  "sidebar main";
}
.side{
  grid-area: sidebar;
  overflow-y: auto;
}
.main-area{
  grid-area: main;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dashboard-area{
  display: grid;
  height: 100vh;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: auto auto;
  grid-area: 
  "part1 part2"
  "maindash maindash";
}
.first-graph{
  width: 100%;
}